{
    "openapi": "3.0.0",
    "info": {
      "title": "Cafe API",
      "version": "1.0.0",
      "description": "API untuk sistem pemesanan di Cafe"
    },
    "servers": [
      {
        "url": "http://cafegundam.com"
      }
    ],
    "paths": {
      "/order": {
        "post": {
          "summary": "Buat pesanan baru",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tableNumber": {
                      "type": "string"
                    },
                    "orderDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "variant": {
                            "type": "string"
                          },
                          "price": {
                            "type": "integer"
                          },
                          "quantity": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Pesanan berhasil dibuat"
            },
            "500": {
              "description": "Kesalahan server"
            }
          }
        }
      },
      "/bill/{tableNumber}": {
        "get": {
          "summary": "Dapatkan tagihan untuk meja tertentu",
          "parameters": [
            {
              "name": "tableNumber",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Tagihan berhasil diambil"
            },
            "404": {
              "description": "Tidak ada pesanan ditemukan untuk meja tersebut"
            },
            "500": {
              "description": "Kesalahan server"
            }
          }
        }
      }
    }
  }
  